* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*barra gris*/
.grisHeader {
  background: #bceeff;
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 60px;
}

/*logo totoro*/
.logo-header,
.button-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.logo-header img {
  width: 150px;
  background-size: cover;
}

/*Boton inicio refresh*/
.inicio {
  width: 120px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background: blueviolet;
  box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
  cursor: pointer;
}

.inicio:hover {
  background: blue;
}

/*body*/
body {
  font-family: 'Nunito', sans-serif;
}

.information {
  display: flex;
  align-items: center;
}

.information-Header {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

/* Images personajes con encabezado*/
.information-Header img {
  width: 100%;
  filter: brightness(50%);
}

/*Introduccion de Studios Ghibli*/
.encabezado {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.encabezado p {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding: 10px 0px;
}


/* Seccion de botones de filtrado*/
.filmsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 8px 8px 5px rgb(0 0 0 / 15%);
  border-radius: 6px;
  height: 60px;
  width: 84.5vw;
  margin: 4vh auto;
}

.orderFilms,
.sortZA,
.searchFilm {
  padding: 1rem;
  border: 3px solid transparent;
  transition: .3s ease-in-out;
  font-size: 15px;
  font-weight: bold;
  border-width: 0px 0px 3px 0px;
  border-color: black;
  outline: none;
  padding: 4px 0;
}


/*Contenedor de las Peliculas*/
.showAllFilms {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}


@media screen and (max-width:480px) {
  .grisHeader {
    flex-direction: column;
    height: 180px;
  }

  .logo-header,
  .button-header {
    justify-content: center;
    margin-bottom: 20px;
  }

  .information-Header {
    height: 500px;
  }

  .information-Header img {
    height: 500px;
  }

  .encabezado p {
    width: 100%;
    font-size: 18px;
    padding: 30px;
  }

  .filmsContainer {
    flex-direction: column;
    justify-content: center;
    height: 150px;
    padding-top: 15px;


  }

  .orderFilms,
  .sortZA,
  .searchFilm {
    margin-bottom: 10px;
    width: 90%;
  }

  .showAllFilms {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  margin: 30px 0px;
  width: 300px;
  height: 580px;
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 15px;
  box-shadow: 0px 0px 25px #d7d7d7;
}

.card .card-img {
  height: 400px;
  overflow: hidden;
}

.card-img img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  filter: brightness(50%);
}

.card-img img:hover {
  filter: brightness(100%);
}

.card-inf {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-inf h1 {
  background-color: black;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 10px;
}

.card-inf h2 {
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px 0px 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Nueva Pantalla Click en cada pelicula*/
.showOneFilm {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
}

.card .card-img-peli {
  height: 400px;
  overflow: hidden;
}

.card-img-peli img {
  width: 100%;
}

.inf-movie {
  width: 30%;
  margin: 40px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.inf-description {
  background-color: #fff;
}

.inf-description h1 {
  background-color: black;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 15px;
}

.inf-description h2 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
}

.inf-description p {
  color: black;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 0px 5px 0px;
}

hr {
  height: 1.5px;
  background-color: black;
}

.inf-summary {
  background-color: #fff;
  margin: 40px 0px 0px 0px;
}

.inf-summary h2 {
  background-color: darkblue;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 15px;
  text-transform: uppercase;
}

.inf-summary p {
  color: black;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 15px 15px 15px;
}

.container {
  width: 70%;
  margin: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.container-characters,
.container-vehicles,
.container-location {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
}

.container-vehicles,
.container-location {
  margin: 40px 0px 0px 0px;
}

.container-characters h2,
.container-vehicles h2,
.container-location h2 {
  background-color: darkblue;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 15px;
  text-transform: uppercase;
}

.showOneCharacter {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 30px;
}

.tarjeta {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: .7s ease;
  box-shadow: 0px 0px 25px #d7d7d7;
  background-color: black;
}

.tarjeta:hover {
  transform: rotateY(180deg);
  background-color: whitesmoke;
  box-shadow: 0px 0px 25px #d7d7d7;
}

.adelante {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.adelante h3 {
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0px;
  z-index: 0;
}

.adelanteImg {
  width: 100%;
  position: absolute;
  z-index: -1;

}

.imgDesignCard {
  width: 100%;
  filter: brightness(75%);
}

.adelante,
.atras {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.atras {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: whitesmoke;
}

.decriptionCharacters {
  padding: 10px;
}

.decriptionCharacters span {
  font-size: 15px;
  font-weight: bold;
}

.decriptionCharacters p {
  font-size: 15px;
  font-weight: 500;
}

.showOneVehicles,
.showOneLocation {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 30px;
}

.tarjeta-large {
  width: 400px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: .7s ease;
  box-shadow: 0px 0px 25px #d7d7d7;
  background-color: black;
}

.tarjeta-large:hover {
  transform: rotateY(180deg);
  background-color: whitesmoke;
  box-shadow: 0px 0px 25px #d7d7d7;
}

.adelante-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.adelante-large h3 {
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0px;
  z-index: 0;
}

.adelante-large,
.atras-large {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.atras-large {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background: whitesmoke;
}

.atras-large .decriptionCharacters {
  padding: 25px;
}

.addFlexError {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 400px;
  height: 200px;
}

.addFlexError p {
  margin: 10px 0px;
  font-size: 15px;
  font-weight: 500;
}

.addFlexError img {
  width: 200px;
}

footer {
  background: #bceeff;
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px 60px;
}


@media screen and (max-width:480px) {
  .showOneFilm {
    flex-direction: column;
  }

  .inf-movie {
    width: 100%;
    padding: 15px;
    margin: 0;
  }

  .container {
    width: 100%;
    padding: 15px;
    margin: 0;
  }

  .showOneCharacter {
    grid-template-columns: repeat(1, 1fr);
  }

  .showOneVehicles,
  .showOneLocation {
    grid-template-columns: repeat(1, 1fr);
  }

  .tarjeta-large {
    width: 200px;
  }
  
  .adelante-large {
    width: 200px;
  }

  .atras-large {
    width: 200px;
  }
  
  .atras-large .decriptionCharacters {
    padding: 10px;
  }
  
  .addFlexError {
    width: 200px;
  }

}

footer p {
  font-size: 22px;
  font-weight: 500;
  background: #bceeff;
}